
/* common shared styles */
*{
    font-family: "Open Sans", sans-serif;
}


/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    

}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}
.primary-color{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
    
}
nav a {
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    color: #FFFFFF;
    border: 0;
    font-size: 20px;
    padding: 18px 35px;
}

/* header related styles */
.header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.banner{
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 30px;
}
.banner .profile-pic{
    width: 500px;
    
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
}